@import "tailwindcss";




* {
  box-sizing: border-box;
}





.app_logo,
#logo_icon {
  background-image: url('https://ik.imagekit.io/sbhtechhub/ssapplogo.png');
}


#user_dp,
#chat_dp {
  background-image: url('https://i.ibb.co/QvwtKDYz/nodp.jpg');
}

.chatlist_dp,
.card_dp {
  background-image: url('https://i.ibb.co/QvwtKDYz/nodp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.chatlist_dp {
  height: 50px;
  width: 50px;
}



.sbh_ad_show,
.app_logo,
#user_dp,
#chat_dp,
#logo_icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0;
}




#left_nav {
  background-color: rgb(255, 255, 255);
}




.left_bar {
  background-color: rgb(255, 255, 255);

}

#top_nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#menu_show_bar {
  background-color: rgb(255, 255, 255);
}







#mic_x_btn:hover {
  color: red;
}

#left_nav_top,
#logo_bar {
  background-color: rgb(255, 255, 255);
}



.app_option:hover {
  border: 2px solid yellow;
  border-radius: 3px;
}


#text_input_bar {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 80%;
  left: 10%;
  max-height: 120px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: 8%;
  box-shadow: 1px 1px 0px rgb(67, 66, 66), 3px 6px 20px 5px rgb(141, 138, 138);


}

.active_listening {
  animation-name: listening;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.active_speaking {
  animation-name: speaking;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}


@keyframes listening {

  from {
    background: radial-gradient(circle at center, aqua, greenyellow);
  }

  30% {
    background: radial-gradient(circle at center, greenyellow, aqua);
  }

  60% {
    background: radial-gradient(circle at center, aqua, greenyellow);
  }

  to {
    background: radial-gradient(circle at center, greenyellow, aqua);
  }


}


@keyframes speaking {

  from {
    background: linear-gradient(to top right, rgb(121, 4, 237), rgb(233, 253, 202));
  }

  to {
    background: linear-gradient(to top right, rgb(229, 249, 197), rgb(119, 9, 254));
  }


}


#cammand_input {
  max-height: 120px;
  flex: 1;
  background-color: transparent;
  border: none;
  resize: none;

  outline: none;
  overflow-y: hidden;
  font-size: 20px;
  line-height: 20px;
  text-wrap: wrap;
}










.listshow {

  background-color: rgb(255, 255, 255);
  left: 0;

  margin-top: 0px;
  padding: 10px;

  text-align: left;
  width: 100%;
  flex-shrink: 0;

  box-sizing: border-box;
  display: flex;
  overflow-x: hidden;
  justify-content: space-around;
}

.listshow:hover {
  border-radius: 5px solid grey;
  background-color: rgb(237, 248, 248);
}

.listshow:active {
  background-color: greenyellow;
}


/* message box css */

.msg_box_a {
  display: flex;
  flex-direction: column;

}

.msg_box_b {

  border-radius: 20px;
  align-items: center;
  max-width: 70%;
  text-wrap: wrap;
  display: inline;

}


.message-time,
.msg_font_style {

  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  white-space: pre-wrap;

  word-break: break-word;

}

.message-time {
  position: relative;
  align-items: center;
  bottom: 4px;
  right: 5px;
  font-size: 11px;
  font-weight: 500;
}


.msg_box_c {

  height: 40px;
  border-radius: 20px;
  padding: 10px;
  display: none;
  flex-direction: row;
}

.receiv_msg:hover .receiv_msg_option,
.send_msg:hover .send_msg_option,
.receiv_msg:active .receiv_msg_option,
.send_msg:active .send_msg_option {
  display: flex;

}

.msg_options {
  margin: 3px;
}

.msg_options:hover {
  cursor: pointer;
  color: rgb(238, 199, 229);
}













.scrollbar-only-rod {

  overflow-y: scroll;
}

.scrollbar-only-rod::-webkit-scrollbar {
  width: 4px;
  /* thin scrollbar */
}

.scrollbar-only-rod::-webkit-scrollbar-track {
  background: transparent;
  /* hide the track */
}

.scrollbar-only-rod::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
  /* show only the thumb */
  border-radius: 10px;
}