@import "tailwindcss";




*{
  box-sizing: border-box;
padding:0;
margin: 0;
}


#processPage{
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(128, 128, 128, 0.269);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}


#root,html,body{margin: 0;
  padding: 0%;
  left: 0;
}
#logo_icon{
  background-image: url('https://i.ibb.co/WpB24TDH/light-logo.png');}


  #user_dp,#chat_dp{
     background-image: url('https://i.ibb.co/QvwtKDYz/nodp.jpg');
  }

.chatlist_dp,.card_dp{
  background-image: url('https://i.ibb.co/QvwtKDYz/nodp.jpg');
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.chatlist_dp{
  height: 50px;
  width: 50px;
}



#user_dp,#chat_dp,#logo_icon{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0;
}




#main_content{

  
  width:100%;
  height:100%;
padding: 0%;
  display: flex;
  

}

#left_nav{
  display:flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
 height:100%;
 width:100%;
}

#main_page{
  width: 100%;
  background-color: rgb(154, 193, 243);
display: none;
flex-direction: column;

 
}


#chat_page{
  position: relative;
  padding:3%;
  width: 100%;
  height: 75%;
  overflow-y: scroll;
  scroll-behavior: smooth;
 
 
  
}

.left_bar{
display: flex;
width:100%;
padding: 0%;
  background-color: rgb(113, 184, 166);

 }

 #top_nav_bar{
position: relative;
width: 100%;
padding-left: 5%;
 padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
min-height: 50px;
 }


 #left_nav_main_bar{
  
  height: 80%;
  flex-direction: column;
}
#menu_show_bar{
  padding: 0%;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(173, 230, 230);
}
#left_nav_top,#voice_assistence_btn{

  justify-content: space-evenly;
  align-items: center;

  min-height: 80px;
}
#voice_assistence_btn{
display: flex;
}
#mic_x_btn{
  font-weight: bolder;
  font-size: larger;
}
#mic_btn{
  height: 90%;
  width: 100px;
  border-radius: 50px;
}
#mic_x_btn:hover{color:red;}

#left_nav_top,#logo_bar{
  background-color: rgb(255, 255, 255);
}






#text_input_bar{
  background-color: rgb(255, 255, 255);
  width: 80%;
  left: 10%;
height: 60px;
border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
 
position: absolute;
bottom: 8%;
box-shadow:1px 1px 0px rgb(67, 66, 66), 3px 6px 20px 5px rgb(141, 138, 138);


}

.active_listening{
  animation-name: listening;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.active_speaking{
  animation-name: speaking;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}


@keyframes listening {

  from{
background: radial-gradient(circle at center ,aqua,greenyellow);
  }
  30%{
background: radial-gradient(circle at center,greenyellow ,aqua);
  }
  60%{
background: radial-gradient(circle at center ,aqua,greenyellow);
  }
  to{
background: radial-gradient(circle at center,greenyellow ,aqua);
  }
  

}


@keyframes speaking {

  from{
background: linear-gradient(to top right ,rgb(121, 4, 237),rgb(233, 253, 202));
  }
  to{
background: linear-gradient(to top right,rgb(229, 249, 197) ,rgb(119, 9, 254));
  }
  

}


#cammand_input{
margin-left: 1%;
margin-right: 1%;
  background-color: transparent;
  border: none;
  width: 85%;
  height: 100%;
outline: none;
font-size: 20px;
line-height: 40px;
text-wrap: wrap;
line-height: 20px;
}




.req_cammand{
  background-color: rgb(138, 187, 129);
}

#chat_list_bar{
  width: 100%;
   display:flex;
   flex-direction:column;
   height: 100%;
   padding: 5px; 
   

   box-sizing: border-box;
}

#search_block{
   margin: 5px;
     bottom: 0;
     padding: 3px;
      height: 15% ;
      margin:0;
      width:100%
}


.listshow{

  background-color: rgb(173, 230, 230);
  left:0;
  
  margin-top:0px;
  padding:10px;
  
  text-align: left;
  width: 100%;
  flex-shrink: 0;
  
  box-sizing: border-box;
  display: flex;
  overflow-x: hidden;
  justify-content: space-around;
}

.listshow:hover{
  border-radius: 5px solid grey;
  background-color: aqua;
}
.listshow:active{
  background-color: greenyellow;
}




.res_option,.req_option{

height:40px;
border-radius: 20px;
padding: 10px;
display: none;
flex-direction: row;
}
.res:hover .res_option,.req:hover .req_option,.res:active .res_option,.req:active .req_option{
display: flex;

}

.msg_options{
margin:3px;
}
.msg_options:hover{
  cursor: pointer;
  color: rgb(255, 91, 219);
}



.req{
width: 100%;
  align-items: flex-end;


}

.req_cammand{
 
max-width: 60%;
text-wrap: wrap;
word-wrap: break-word;
}

.res{
width: 10%;
  align-items: flex-start;


}





#profile_section_div2{

  height:100%;
width:100%;
background-color:white;
padding:0;
margin: 0%;
display:flex;
justify-content:center;
flex-direction:column;
align-items:center;
}




.scrollbar-only-rod {
 
  overflow-y: scroll;
}

.scrollbar-only-rod::-webkit-scrollbar {
  width: 4px; /* thin scrollbar */
}

.scrollbar-only-rod::-webkit-scrollbar-track {
  background: transparent; /* hide the track */
}

.scrollbar-only-rod::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6); /* show only the thumb */
  border-radius: 10px;
}
     

#profile_page{

height: 100%;
width: 100%;
margin: 0;
padding:0;


}


#profile_top_nav{
  position: relative;
height: 10%;
width: 100%;
margin: 0;


}










@media (min-width:500px) {

  #main_page{
    width:60%;
   display:flex;
  }

#left_nav{
width: 40%;
}
.left_nav_icons{
  width: 20%;
}



#text_input_bar{
  width: 50%;
  left: 45%;
}




}


@media (min-width:850px) {

   #main_page{
    width:70%;
  }

#left_nav{
width: 30%;
}

.left_nav_icons{
  width: 15%;
}
  



#text_input_bar{
  width: 60%;
  left: 35%;
}
}



@media (max-height:401px) {
  
#text_input_bar{
  height: 10%;
}
}
